@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* imagen principal */
#main{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(170,170,170,0.7469879518072289) 0%, rgba(197,196,198,0.8891566265060241) 46%, rgba(230,230,230,0.963855421686747) 100%), url("/img/back\ img.jpeg");
}

/* estilo del nav */
#main .content header{
    background: linear-gradient(135deg, #4b0082, #9400d3);
    position: fixed;
    width: 100%;
    z-index: 100;
}

#main .content header .main-content{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
/* estilo LM CODE */
#main .content header .main-content h1{
    text-align: center;
    color: #BB92FD;
}

#main .content header .main-content nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#main .content header .main-content nav ul li a{
    text-decoration: none;
    color: white;
    margin: 30px;
    font-size: 20px;
    transition: 0.5s;
}

#main .content header .main-content nav ul a:hover{
    color: #BB92FD;
}

#main .content header .main-content #socialMedia a{
    color: white;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    transition: 0.5s;
}
#main .content header .main-content #socialMedia a:hover{
    color: #BB92FD;
    transform: scale(1.5);
}

/* modo oscuro y claro */
#toggle{
    display: none;
} 
#label_toggle{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: #CCCCFF;
    transition: all 1.2s ease;
}

/* empezamos con el contenido principal */
#main .content .introduction{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main .content .introduction .welcome{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a0a5e;
}
#main .content .introduction .welcome h2{
    font-size: 33px;
    margin-bottom: 25px;
    text-align: center;

}
.name-span{
    color: #8a2be2;
}

#main .content .introduction .description{
    max-width: 700px;
    margin: 25px auto;
    font-size: 20px;
    text-align: center;
}
#main .content .introduction a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    color: #3a0a5e;
    border-radius: 30px;
    transition: 0.5s;
    border: 2px solid #3a0a5e;
}
#main .content .introduction a:hover{
    background-color: #8a2be2;
    color: white;
}
#nav-icon{
    color: white;
    display: none;
}
/* Inicio sección sobre mi*/
#aboutMe{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #8a2be2;
    display: flex;
}
#aboutMe .me{
    max-width: 400px;
    margin-right: 50px;
}
#aboutMe .me img{
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    background-color: #3a0a5e;
}

#aboutMe .aboutMe .title-aboutMe{
    font-size: 25px;
    color: #3a0a5e;
}
#aboutMe .aboutMe h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#aboutMe .aboutMe p{
    font-size: 20px;
    line-height: 25px;
    color: #3a0a5e;
    margin-bottom: 12px;
}
/* animacion palabras */
.animation{
    position: relative;
}
.animation::before{
    content: "mi empatia";
    color: #9400d3;
    animation: words 20s infinite;
}
@keyframes words {
    0%,20%{
        content: "mi liderazgo";
    }
    21%,40%{
        content: "mi puntualidad";
    }
    41%,60%{
        content: "mi buen desempeño";
    }
    61%,80%{
        content: "mi responsabilidad";
    }
}
/* boton enviame un mensaje */
#aboutMe .aboutMe a{
    display: inline-block;
    text-decoration: none;
    color: #3a0a5e;
    border-radius: 30px;
    border: 1px solid #3a0a5e;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.5s;
}
#aboutMe .aboutMe a:hover{
    background-color: #8a2be2;
    color: white;
}
/* Iniciamos la sección mis proyectos */
#projects{
    padding: 100px 15px;
    text-align: center;
    background-color: #CCCCFF;
}
.projectTitle{
    font-size: 25px;
    color: #3a0a5e;
}
#projects .raw{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 40px auto;
}
.projecLink{
    text-decoration: none;
    color: white;
}
.projecLink:hover{
    color: #BB92FD;
}

#projects .raw .project{
    background-color: #3a0a5e;
    color: white;
    max-width: 350px;
    margin: 20px;
    padding: 30px;
    border-radius: 7px;
    transition: 0.5s;
}
#projects .raw .project:hover{
    box-shadow: 5px 5px 10px #8a2be2, -5px -5px 10px #8a2be2;
    transform: scale(1.05);

}
#projects .raw .project h4{
  font-size: 22px;
  margin-bottom: 25px;
}
#projects .raw .project .iconDev{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color: white;
    color: #3a0a5e;
    padding: 20px;
    margin-bottom: 25px;
}
#projects .raw .project ul{
    list-style: none;
    margin-bottom: 10px;
}
#projects .raw .project p{
    font-size: 14px;
    line-height: 22px;
}

/* inicio seccion contacto */
#contact{
    padding: 100px 15px;
}
#contact .contactTitle{
    margin-bottom: 20px;
    color: #3a0a5e;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}
#contact .formContainer{
    max-width: 1100px;
    margin: auto;
    background-color: #BB92FD;
}
#contact .formContainer .formRows{
    margin-bottom: 15px;
    
}
#contact .formContainer .middleRow{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#contact .formContainer input, #contact .formContainer{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 2px solid #3a0a5e;
}
#contact .formContainer .middleRow input{
    width: 48%;
}
.fullInput{
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #3a0a5e;
}
.send-button{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.7s;
    padding: 10px 15px;
    font-size: 18px;
}
.send-button:hover{
    background-color: #3a0a5e;
    color: white;
}

/* final de la pagina */
footer{
    background-color: #3a0a5e;
    color: aliceblue;
    text-align: center;
    padding: 20px ;
    font-size: 20px;
}
footer a{
    color: aliceblue;
    display: inline-block;
    margin: 5px;
    padding: 20px;
    font-size: 25px;
}

/* seccion responsive */

